
<div>
  <div class="panel-heading">
      <span class="label label-default label-center">{{title}}</span>
  </div>
  <div class="panel-body">
      <img class="image-center" src="{{image}}" />
      <div class="list-group">
          <div class="list-group-item">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              <strong>Coordinating</strong> parts of a <strong>Template</strong> with parts of a <strong>Component</strong>.
          </div>      
      </div>
  </div>
  <div class="panel-heading">
      <span class="label label-default label-center">Interpolation {{interpolationNotation}}</span>
  </div>
  <div class="panel-body">
      <div class="list-group">
          <div class="list-group-item">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              For simple one-way data binding.
          </div>
          <div class="list-group-item list-group-item-demo">
              <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
              <div>
                  <li>Our <strong>component</strong> value: <strong class="strong-green">{{interpolation}}</strong></li>
              </div>
              <div>
                  <li>An <strong>evaluation</strong> (5+21): <strong class="strong-green">{{ 5 + 21 }}</strong></li>
              </div>
          </div>      
      </div>
  </div>
</div>